body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #F5E6E8;
  padding-top: 80px;
}

header {
  display: flex;
  align-items: center; /* Centre verticalement les éléments */
  justify-content: center; /* Ajoute de l'espace entre le titre et l'image, si nécessaire */
  padding:5px;
  background-color:#1E2D55;
  position: fixed;
  top: 0; /* Ajouté pour fixer le menu en haut */
    width: 100%; /* Ajouté pour que le menu prenne toute la largeur de la page */
    z-index: 1000; /* Ajouté pour s'assurer que le menu reste au-dessus des autres éléments */
}

header img {
  width: 25%; /* Ajustez cette valeur en fonction de la taille souhaitée de l'image */
  height: auto;
  margin-left: 20px; /* Ajoute un espacement entre le titre et l'image */
  padding: 10px;
}

header h1 {
  margin: 0; /* Enlève les marges par défaut du titre */
  padding:20px;
  color: #F5E6E8;
}

nav {
    background-color: #1E2D55;
    overflow: hidden;
    float: center;
    display: block;
    color: #F5E6E8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a {
    color: #f5e6e8;
    text-decoration:none;
  }
  
  nav a:hover {
    color: #ff8309;
  }
  

  main h2 {
    text-align: justify;
    margin: 2px 20%;
    padding-top: 60px;
    padding-bottom:10px;
    font-size:28px;
  }

  main h3{
    text-align: justify;
    margin: 2px 19%;
    padding: 15px;
    font-size:20px;
  }

  main h4{
    text-align: justify;
    margin: 2px 19%;
    padding: 15px;
    font-size:18px;
  }

  main p{
    text-align:justify;
    margin: 2px 20%;
    padding: 2px;
    font-size:16px;
    line-height:1.6;
  }

  main img {
    display:block;
    width: 40%; 
    margin-left:auto;
    margin-right:auto;
    padding: 40px;
    
  }

  main ul{
    font-size:16px;
    line-height:1.6;
    text-align:justify;
    padding:2px;
    margin: 2px 20%;
    line-height: 1.6;
  }


  main ol{
    font-size:16px;
    line-height:1.6;
    text-align:justify;
    padding:2px;
    margin: 2px 20%;
    line-height: 1.6;
  }

  footer {
    background-color: #1E2D55;
    overflow: hidden;
    padding:10px;
  }

  footer p {
    color:#fff;
  }

  .legend{ 
    display: block; 
    text-align: center; 
    margin-top: 5px; 
    margin-bottom: 45px; 
  }

  .container_column{
    display: flex;
    padding: 15px;
  }

  .column{
    width: 100%;
    padding: 15px;
    border: 1px solid black;
  }

  .column h3{
    text-align: center;
  }

  .column a{
    color: black;
    text-decoration:none;
  }

  .column a:hover{
    color: #ff8309;
  }

  .line-break {
    display: block;
    margin-bottom: 20px; /* Ajustez cette valeur selon vos besoins */
}

.container {
  display: flex;
  align-items: center; /* Centre verticalement les éléments */
}

.text {
  margin-right: 20px;
  padding: 2px;
}

.image {
  align-self:center;
  margin:60px 60px;
}

.image img {
  width: 100%;
  height: auto;
}

.image .legend {
  display: block;
  margin-top: 10px;
  font-size: 0.8em;
}